@model List<Progra_Avanzada_W.Entidades.Producto>

@{
    ViewData["Title"] = "ConsultarProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Productos</h3>
                <div style="text-align:right">
                    <a class="btn btn-primary" href="@Url.Action("RegistrarProducto", "Producto")"> + Agregar</a>
                </div>
                <br>
            </div>

            @if (ViewBag.MsjPantalla != null)
            {
                <br>
                <div class="alert alert-warning" role="alert" style="text-align:center">
                    @ViewBag.MsjPantalla
                </div>
            }

            <div class="table-responsive text-nowrap">
                <table class="table" id="productosTable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.nombre</td>
                                <td>@item.descripcion</td>
                                <td>@item.precio</td>
                                <td>@item.Cantidad</td>
                                <td><img src="@item.imagen" height="50px" width="50px" /></td>
                                <td style="text-align:center">
                                    <a href="@Url.Action("EditarProducto","Producto", new { q = item.IdProducto })"><i class="fas fa-edit"></i></a>
                                    <button type="button" class="btn btn-primary passingID" data-toggle="modal" data-target="#exampleModal"
                                            data-id="@item.IdProducto" data-name="@item.nombre">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        } 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        var table = new DataTable('#Info', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            },
            "bInfo": false,
            "bLengthChange": false,
            columnDefs: [{ type: 'string', targets: [0, 1, 2, 3, 4] }]
        });
    });

    $(".passingID").click(function () {
        $("#IdProducto").val($(this).attr('data-id'));
        $("#Question").text("¿Desea eliminar el producto " + $(this).attr('data-name') + "?");
    });

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EliminarProductoPorId", "Producto", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="hidden" id="IdProducto" name="IdProducto" value="">
                    <p id="Question" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Procesar</button>
                </div>
            }
        </div>
    </div>
</div>