<!DOCTYPE html>
<html lang="en">
<head>

    <title>Restaurante El Dragón</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="~/lib/css/animate.css" rel="stylesheet" />
    <link href="~/lib/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/lib/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/lib/css/templatemo-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>



    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>


                <a href="@Url.Action("PantallaPrincipal", "Home")" class="navbar-brand">Restaurante <span>.</span> El Dragón</a>
            </div>


            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="@Url.Action("ConsultarPerfil", "Usuario")" class="smoothScroll">Perfil</a></li>
                    @if (Context.Session.GetString("IdRol") != "1")
                    {
                        <li><a href="@Url.Action("ConsultarProductos", "Producto")" class="smoothScroll">Productos</a></li>
                    }
                    <li><a href="@Url.Action("ConsultarReservas", "Reserva")" class="smoothScroll">Reservas</a></li>
                    <li><a href="#menu" class="smoothScroll">Menú</a></li>
                    <li><a href="@Url.Action("Salir","Home")" class="smoothScroll">Salir</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">LLame ahora! <i class="fa fa-phone"></i> 2210-2525</a></li>
                    <a href="@Url.Action("AgregarReserva", "Reserva")" class="section-btn">Reserve</a>
                </ul>
            </div>

        </div>
    </section>



    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Restaurante Restaurante &amp; Restaurante</h3>
                                <h1>Nuestra misión es que tengas una buena experiencia</h1>
                                <a href="#team" class="section-btn btn btn-default smoothScroll">Conoce a nuestros Chef</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Nuestros desayunos son perfectos</h3>
                                <h1>Las mejores cenas!</h1>
                                <a href="#menu" class="section-btn btn btn-default smoothScroll">Menú</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Nuevo restaurante en la ciudad</h3>
                                <h1>Disfruta de nuestros menús especiales todos los domingos y viernes</h1>
                                <a href="#contact" class="section-btn btn btn-default smoothScroll">Reserva</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            

        </ul>
    </section>
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h4>Nuestra historia</h4>
                            <h2>Hemos estado preparando comidas deliciosas desde 1999.</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>"Nuestros productos son 100% orgánicos y de muy buena calidad, ya que provienen de ingredientes frescos del más alto nivel."</p>
                            <p>"Nuestras recetas son familiares, en ellas podemos disfrutar de excelentes combinaciones y sabores exquisitos."Gracias.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img src="~/lib/images/about-image.jpg" class="img-responsive" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section id="team" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Nuestros chef</h2>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/lib/images/team-image1.jpg" class="img-responsive" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>¡Estoy para servirte!</h4>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                    <li><a href="#" class="fa fa-envelope-o"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>Linda Rosales</h3>
                        <p>"Soy un especialista en mariscos y pescados con una profunda pasión por los productos del mar"</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="~/lib/images/team-image2.jpg" class="img-responsive" alt="">

                        <div class="team-hover">
                            <div class="team-item">
                                <h4>¡Es un gusto atenderte!</h4>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-flickr"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>Daniela Ureña</h3>
                        <p>"Soy un especialista en comida asiática"</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="~/lib/images/team-image3.jpg" class="img-responsive" alt="">

                        <div class="team-hover">
                            <div class="team-item">
                                <h4>¡Es un gusto atenderte!</h4>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-github"></a></li>
                                    <li><a href="#" class="fa fa-google"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>Isabella Arias</h3>
                        <p>"Soy un especialista en repostería"</p>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section id="menu" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Menú</h2>
                        <h4>Es hora de disfrutar</h4>
                    </div>
                </div>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="menu-thumb">
                        <a href="images/menu-image1.jpg" class="image-popup" title="American Breakfast">
                            <img src="~/lib/images/menu-image1.jpg" class="img-responsive" alt="">
                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Desayuno Americano</h3>
                                    <p>Tomate / Huevos / Sándwich</p>
                                </div>
                                <div class="menu-price">
                                    <span>$25</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="menu-thumb">
                        <a href="images/menu-image2.jpg" class="image-popup" title="Self-made Salad">
                            <img src="~/lib/images/menu-image2.jpg" class="img-responsive" alt="">
                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Ensalada</h3>
                                    <p>Lechuga / Tomate / Limón</p>
                                </div>
                                <div class="menu-price">
                                    <span>$18</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="menu-thumb">
                        <a href="images/menu-image3.jpg" class="image-popup" title="Chinese Noodle">
                            <img src="~/lib/images/menu-image3.jpg" class="img-responsive" alt="">


                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Fideos chinos</h3>
                                    <p>Fideos / Pollo / Vegetales</p>
                                </div>
                                <div class="menu-price">
                                    <span>$34</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="menu-thumb">
                        <a href="images/menu-image4.jpg" class="image-popup" title="Rice Soup">
                            <img src="~/lib/images/menu-image4.jpg" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Sopa de pollo </h3>
                                    <p>Vegetales / Pollo</p>
                                </div>
                                <div class="menu-price">
                                    <span>$28</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="menu-thumb">
                        <a href="images/menu-image5.jpg" class="image-popup" title="Project title">
                            <img src="~/lib/images/menu-image5.jpg" class="img-responsive" alt="">
                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Hamburguesa</h3>
                                    <p>Carne angus / Papas fritas</p>
                                </div>
                                <div class="menu-price">
                                    <span>$46</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="menu-thumb">
                        <a href="images/menu-image6.jpg" class="image-popup" title="Project title">
                            <img src="~/lib/images/menu-image6.jpg" class="img-responsive" alt="">
                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Pasta en salsa alfredo</h3>
                                    <p>Hongos / Queso</p>
                                </div>
                                <div class="menu-price">
                                    <span>$30</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <footer id="footer" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Nos Encontamos</h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Escazú centro ,<br> enfrente de la iglesia</p>
                        </address>
                    </div>
                </div>

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Reservación</h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>2210-2525 | 8524-2323</p>
                            <p><a href="mailto:info@company.com">Restauranteeldragon@gmail.com</a></p>
                        </address>
                    </div>
                </div>

                <div class="col-md-4 col-sm-8">
                    <div class="footer-info footer-open-hour">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Horario</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Lunes: Closed</p>
                            <div>
                                <strong>Martes a Viernes</strong>
                                <p>7:00 AM - 9:00 PM</p>
                            </div>
                            <div>
                                <strong>Sábado y Domingo</strong>
                                <p>11:00 AM - 10:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/js/jquery.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery.stellar.min.js"></script>
    <script src="~/lib/js/wow.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/js/smoothscroll.js"></script>
    <script src="~/lib/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="~/js/consultanombreapi.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</body>
</html>