<!DOCTYPE html>
<html lang="en">
<head>

    <title>Eatery Cafe and Restaurant Template</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/lib/css/animate.css" rel="stylesheet" />
    <link href="~/lib/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/lib/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/lib/css/templatemo-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top custom-navbar">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>


                <a href="@Url.Action("PantallaPrincipal", "Home")" class="navbar-brand">Restaurante <span>.</span> El Dragón</a>
            </div>


            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="@Url.Action("PantallaPrincipal", "Home")" class="smoothScroll">Pantalla Principal</a></li>
                    <li><a href="@Url.Action("ConsultarPerfil", "Usuario")" class="smoothScroll">Perfil</a></li>
                    <li><a href="@Url.Action("ConsultarProductos", "Producto")" class="smoothScroll">Productos</a></li>
                    <li><a href="#menu" class="smoothScroll">Menú</a></li>
                    <li class="@(Context.Session.GetString("NombreRol") != null && Context.Session.GetString("NombreRol") == "Trabajador Administrativo" ? "" : "hidden")">
                        <a href="@Url.Action("RegistrarPreguntaFrecuente","PreguntasFrecuentes")">Ingresar Pregunta Frecuente</a>
                    </li>
                    <li><a href="@Url.Action("ObtenerTodasLasPreguntasFrecuentes","PreguntasFrecuentes")">Ver Preguntas Frecuentes</a></li>
                    <li><a href="@Url.Action("Salir","Home")" class="smoothScroll">Salir</a></li>
                    <li>
                        <div style="margin-left:2%" class="container-xxl navbar navbar-expand-xl  align-items-center">
                            <box-icon name='spreadsheet' color='#626161'></box-icon> @Context.Session.GetString("Cantidad").ToString()
                            <br />
                            <box-icon name='spreadsheet' color='#626161'></box-icon> @decimal.Parse(Context.Session.GetString("Total")).ToString("N2").ToString() + ivi
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="bi bi-person-fill me-2"></i>
                            <span class="align-middle">@Context.Session.GetString("Nombre")?.ToUpper()</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PantallaPrincipal", "Home")">Pantalla Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarPerfil", "Usuario")">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ConsultarProductos", "Producto")">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu">Menú</a>
                    </li>
                    <li class="@(Context.Session.GetString("NombreRol") != null && Context.Session.GetString("NombreRol") == "Trabajador Administrativo" ? "" : "hidden")">
                        <a href="@Url.Action("RegistrarPreguntaFrecuente","PreguntasFrecuentes")">Ingresar Pregunta Frecuente</a>
                    </li>
                    <li><a href="@Url.Action("ObtenerTodasLasPreguntasFrecuentes","PreguntasFrecuentes")">Ver Preguntas Frecuentes</a></li>
                    <li><a href="@Url.Action("Salir","Home")" class="smoothScroll">Salir</a></li>
                    <li class="nav-item">
                        <a class="nav-link cart-link" href="@Url.Action("ConsultarCarrito","Carrito")">
                            <i class="bi bi-cart me-2"></i>
                            Pagar Carrito
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Salir","Home")">Salir</a>
                    </li>
                    <li>
                        <a class="nav-link cart-link">
                            <i class="bi bi-grid-3x3-gap-fill"></i>
                            @Context.Session.GetString("Cantidad").ToString()
                        </a>
                        
                    </li>
                    <li>
                        <a class="nav-link cart-link">
                            <i class="bi bi-grid-3x3-gap-fill"></i>
                            @(decimal.TryParse(Context.Session.GetString("Total"), out decimal total) ? total.ToString("N2") : "0.00")
                        </a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">LLame ahora! <i class="fa fa-phone"></i> 2210-2525</a></li>
                    <a href="#footer" class="section-btn">Reserve</a>
                </ul>
            </div>
    </section>



    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Restaurante Restaurante &amp; Restaurante</h3>
                                <h1>Nuestra misión es que tengas una buena experiencia</h1>
                                <a href="#team" class="section-btn btn btn-default smoothScroll">Conoce a nuestros Chef</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Nuestros desayunos son perfectos</h3>
                                <h1>Las mejores cenas!</h1>
                                <a href="#menu" class="section-btn btn btn-default smoothScroll">Menú</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Nuevo restaurante en la ciudad</h3>
                                <h1>Disfruta de nuestros menús especiales todos los domingos y viernes</h1>
                                <a href="#contact" class="section-btn btn btn-default smoothScroll">Reserva</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            

        </ul>
    </section>
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                            <h4>Nuestra historia</h4>
                            <h2>Hemos estado preparando comidas deliciosas desde 1999.</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>"Nuestros productos son 100% orgánicos y de muy buena calidad, ya que provienen de ingredientes frescos del más alto nivel."</p>
                            <p>"Nuestras recetas son familiares, en ellas podemos disfrutar de excelentes combinaciones y sabores exquisitos."Gracias.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img src="~/lib/images/about-image.jpg" class="img-responsive" alt="">
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <br />
    <br />
    <br />

    <section id="menu" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Menú</h2>
                        <h4>Es hora de disfrutar</h4>
                    </div>
                </div>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                


            </div>
        </div>
    </section>

    <footer id="footer" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Nos Encontamos</h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Escazú centro ,<br> enfrente de la iglesia</p>
                        </address>
                    </div>
                </div>

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Reservación</h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>2210-2525 | 8524-2323</p>
                            <p><a href="mailto:info@company.com">Restauranteeldragon@gmail.com</a></p>
                        </address>
                    </div>
                </div>

                <div class="col-md-4 col-sm-8">
                    <div class="footer-info footer-open-hour">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Horario</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Lunes: Closed</p>
                            <div>
                                <strong>Martes a Viernes</strong>
                                <p>7:00 AM - 9:00 PM</p>
                            </div>
                            <div>
                                <strong>Sábado y Domingo</strong>
                                <p>11:00 AM - 10:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/js/jquery.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery.stellar.min.js"></script>
    <script src="~/lib/js/wow.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/js/smoothscroll.js"></script>
    <script src="~/lib/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>