@model Progra_Avanzada_W.Entidades.Usuario

@{
    ViewData["Title"] = "RecuperarAcceso";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

@using (Html.BeginForm("RecuperarAcceso", "Home", FormMethod.Post, new { @class = "pt-3" }))
{
    <p class="font-weight-bold">@ViewBag.MensajePantalla</p>
    <br />

    <div class="form-group col-md-15 mb-3">
        <div class="form-line">
            @Html.TextBoxFor(m => m.Correo, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Correo electrónico" })
            @Html.ValidationMessageFor(m => m.Correo, null, new { @style = "color:red" })
        </div>
    </div>

    <div class="mt-3 text-center mt-4">
        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-bold auth-form-btn" style="text-decoration:none; font-size: 100%; color:black;" value="Recuperar Acceso">
    </div>

    <div class="text-center mt-4 font-weight-light">
        <a href="@Url.Action("IniciarSesion", "Home")" class="font-weight-bold" style="text-decoration:none">Volver al Inicio de Sesión</a>
    </div>

    <div style="text-align:center; margin-top:2%">
        <a href="@Url.Action("RegistrarUsuario","Home")" class="text-center">¿No tienes una cuenta?</a>
    </div>
}