@model Progra_Avanzada_W.Entidades.Usuario

@{
    ViewData["Title"] = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

@using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post, new { @class = "pt-3" }))
{
    <p class="font-weight-bold">@ViewBag.MensajePantalla</p>
    <br />

    <div class="form-group col-md-15 mb-3">
        <div class="form-line">
            @Html.TextBoxFor(m => m.Correo, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Correo Electrónico" })
            @Html.ValidationMessageFor(m => m.Correo, null, new { @style = "color:red" })
        </div>
    </div>

    <div class="form-group col-md-15 mb-3">
        <div class="form-line">
            @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Nombre" })
            @Html.ValidationMessageFor(m => m.NombreUsuario, null, new { @style = "color:red" })
        </div>
    </div>

    <div class="form-group col-md-15 mb-3">
        <div class="form-line">
            @Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control form-control-lg", @type = "password", @placeholder = "Contraseña", @pattern = "^((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).{6,20})" })
            @Html.ValidationMessageFor(m => m.Contrasenna, null, new { @style = "color:red" })
        </div>
    </div>

    <div class="mt-3 text-center mt-4">
        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-bold auth-form-btn" style="text-decoration:none; font-size: 100%; background-color: #fbd704 !important; color:black;" value="Registrar">
    </div>

    <div class="text-center mt-4 font-weight-light">
        <a href="@Url.Action("IniciarSesion", "Home")" class="font-weight-bold" style="text-decoration:none">¿Ya tienes una cuenta?</a>
    </div>
}