@model Progra_Avanzada_W.Entidades.Usuario

@{
    ViewData["Title"] = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div class="hold-transition register-page">
    <div class="register-box">

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registro </p>

                @using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post))
                {
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @placeholder = "Correo Electrónico", @type = "Email", @required = "true" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", @placeholder = "Nombre", @required = "true" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Contrasenna, new
                            {
                                @class = "form-control",
                                @placeholder = "Contraseña",
                                @type = "Password",
                                @required = "true",
                                @pattern = "^((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).{6,20})"
                            })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.MsjPantalla != null)
                    {
                        <div class="alert alert-warning" role="alert" style="text-align:center">
                            @ViewBag.MsjPantalla
                        </div>
                    }

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-warning btn-block">Registrar</button>
                        </div>
                    </div>
                }

                <div style="text-align:center; margin-top:2%">
                    <a href="@Url.Action("IniciarSesion","Home")" class="text-center">¿Ya tienes una cuenta?</a>
                </div>
            </div>
        </div>
    </div>
</div>
